// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p{
  text-align: center;
  font-size: 20px;
}

h2{
  text-align: center;
}

.comment_begin{
  margin-top: 100px;
  margin-bottom: 50px;
}

.comment_title{
  margin-top: 50px;
  margin-bottom: 50px;
}

.post_title{
  margin-top: 50px;
}
